
/* ===== BASE STYLES ===== */
html{
  font-size:1.125em; /*18px*/
  line-height:1.222em; /*22px=1 gridline*/
}

 h1 {
  font-size: 2.056em; /*37px/18px*/
  line-height: 1.216em; /*45px/37px*/
  
 }
 
 h2 { 
  font-size:1.667em; /*30px/18px*/
 }
 
 header{
  background: url(../images/786009.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}

footer {
  font-size:0.889em; /*16px/18px*/
  padding: 0.611em 1.222em;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFEDD9;
  text-align: center;
}

/* ===== MODULAR STYLES ===== */
.home{
  font-size: 2.778em; /*50px/18px*/
}

.name{
  padding-top: 1.222em;
  padding-bottom: 0.5em;
}

.h-card{
  background: url(../images/resume.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
}

.p-name{
  padding: 1.222em;
  font-family: "Brush Script MT", cursive;
  font-size: 3.056em;  /*50px/18px*/
}

.interest{
  padding-left: 1.222em;
  padding-bottom: 1.222em;
}


#interest{
  background: url(../images/927_y04.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
}

/* ===== LAYOUT STYLES ===== */
header{
  margin: 0 -0.909em;
  margin-top: -1.222em;
  padding: 0.909em;
  padding-bottom: 4em;
  height: 100%;
}

#header{
  padding-top:3.056em; /*55px*/
}

.h-card{
  margin: 0 -0.909em;
  margin-top: -1.222em;
  padding: 15%;
  height: 100%;
}

#navigation{
  position:absolute;
  top:0em;
  
}

.navigation li{
  display: inline-block;
  padding:0em;
}

.navigation{
  line-height:1em;
  padding:0;
  
}

.navigation li a{
  display: block;
  text-decoration:none;
  padding: 1.222em;
}

.job-title{
  font-style: italic;
}

.graduation-date{
  font-style: italic;
}

img {
	display: block;
	max-width: 50%;
	max-height: 25%;
	padding: 0.4em;
}

figcaption{
  text-align: left;
  font-style: italic;
}

.home{
  font-family: "Brush Script MT", cursive;
  padding-bottom: 3.056em;
  padding-top: 1.222em;
  text-align: center;
}

.p-name{
  padding-bottom: 3.056em;
}

.intro{
  padding:0.5em;
  margin:0.5em;
}

.contact li{
  display: block;
  text-decoration: none;
  font-size: 1.111em;
}

.name{
  padding-left: -0.5em;
}

#interest{
  padding-bottom: 3.056em;
  padding: 10%;
}

/* ===== STATE STYLES ===== */
@media screen and (min-width: 20em) {
 #content {
  width: 100%;
}

@media screen and (min-width: 64em){
  #content{
    width: 100%;
  }
}

@media screen and (min-width: 100em){
  #content{
    width: 100%;
  }
}

